/*#region CLASSES */
body{
  font-size: 1.06em;
  font-family: Arial ,'Times new roman';
  background: url(images/back2.jpg);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
.flex-container{
  display: flex;
  flex-flow: row wrap;
  overflow: auto; 
  background: #ffffff;
}
.search-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  width: 990px;
  height: 560px;
  margin-left: 435px;
  margin-top: 30px;
}
.item{
  flex: initial;
  margin: 16px;
  padding: 10px;
  background-color: #1B5385;
  color: #ffffff;
  font-size: 13px;
}
.initialFirst{
  flex: 0.2;
  width: 150px;
  margin-left: 20px;
  margin-top: 10px; 
}
.initialSecond{
  flex: 0.13;
  background-color: #26a8e0;
  font-size: 1.3em;
  padding: 30px 15px; 
  font-family: 'Times new roman';
}
.middle{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
  font-size: 30px;
  background-color: #ffffff ;
}
.UserName{
  background: #ffffff;
  width: 210px;
  height: 60px;
  font-size: 0.7em;
  margin-top: 10px;
}
.nav{
  background: #ffffff;
  border: 1px solid #ffffff;
  width: 350px;
  height: 20px;
  font-size: 0.6em;
}
.none {
  flex: none;
}
 .top{
  width: 100%;
  height: 110px;
 }
 img{
  flex-basis: 35%;
  height: 90%;
 }
a{
  text-decoration: none;
  color: #ffffff;
 }
a.Itinerary:hover {
  color: #000000;
  background: #26a8ef;
  text-shadow: 1px 1px 3px #032647;
}
a.links{
  font-size: 0.85em;
  color: #1f74a5; 
}
a.links2{
  font-size: 0.95em;
}
a.links2:hover{
  font-weight: bold;
  font-size: 1em;
  text-shadow: 1px 1px 1px black;
}
a.links:hover{
  text-shadow: 1px 1px 1px black;
}
.second-top{
  width: 100%;
  height: 60px;
  background: #9ea5af;
}
.navigation{
  display: flex;
  background: #9ea5af;
  flex-direction: row;
  align-content: flex-start;
  width: 30%;
  height: 60px;
}
.drops{
  padding: 15px 15px;
  color: #1f74a5; 
  flex: auto;
}
.drops:hover{
  background: #0b5e8e;
}
a.drop-links{
  font-size: 1em;
  text-decoration: none;
}
a.drop-links:hover{
  font-size: 1em;
  color: #ffffff; 
}
.opacity-tab{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  background: #f0f5bc;
  opacity: 0.6;
  margin-top: 60px;
  margin-left: 435px;
  width: 990px;
  height: 85px;
}
.search-bar{
  color: #0b5e8e;
  font-size: 1.7em;
  padding: 1px 20px;
  width: 700px;
  margin-bottom: 30px;
}
a.offers{
  margin-left: 90px;
  color: #0b5e8e;;
  width: 150px;
  height: 50px;
  margin-top: 32px;
  margin-left: 70px;
  text-decoration: none;
}
a.offers:hover{
  text-shadow: 1px 1px 1px #000000;
}
.search-flight{
  display: flex;
  background: #9ea5af;
  flex-direction: row;
  align-content: flex-start;
  background: #9ea5af;
  width: 100%;
  height: 65px; 
}
.icons{
  flex: 1;
  flex-flow: row wrap;
  color: #ffffff;
  background: #204a72;
}
.icons:hover{
  background: #ffffff;
  color: #204a72;
  font-weight: bold;
  text-shadow: 0px 0px 1px #000000;
}
.icon-image{
  height: 22px;
  width: 23px;
  padding: 21px 15px;
}
.icon-text{
  position: absolute;
  top: 354px;
  margin-left: 57px;
  font-size: 0.85em;
  font-weight: bold;
}
.Search-for-flight{
  color: #566565;
  font-size: 1.3em;
  padding: 25px 20px;
  text-shadow: 0px 0px 0.5px #000000;
}
.round-trip{
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 50px;
}
.trips{
  flex: 1;
  height: 20px;
  flex-flow: row wrap;
  background: #0f6ea1;
  border: 1px solid #ffffff;
  padding: 17px 28px;
  }
  .trips:hover{
    flex: 1;
    height: 20px;
    flex-flow: row wrap;
    background: #ffffff;
    border-color: #000000;
    border-style: hidden  solid;
    border-width: 1px;
    font-size: 0.85em;
    color: #204a72;
    font-weight: bold;
    text-shadow: 0px 1px 1px #000000;
  }
  .departure-title{
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background: #ffffff;
    margin-left: 0;
  }
  .departure-title-inside1{
    font-size: 0.85em;
    flex: 1.3;
    padding: 30px 10px;
    font-weight: bold;
    color: #3a3e44;
  }
  .departure-title-inside2{
    flex: 0.8;
    font-size: 0.81em;
    padding: 30px 8px;
    font-weight: bold;
    color: #3a3e44;
  }
  .date-box{
    flex: 0.8;
  }
  .text-box{
    flex: 1.3;
  }
  .text{
    margin-top: 5px;
    margin-left: 6px;
    width: 297px;
    height: 28px;
  }
  .date{
    margin-top: 5px;
    margin-left: 2px;
    width: 170px;
    height: 30px;
  }
  .adults-title{
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    width: 65%;
    height: 45px;
    background: #ffffff;
    margin-left: 0px;
  }
  .adults-title-inside1{
    flex: 0.8;
    font-size: 0.81em;
    padding: 20px 12px;
    font-weight: bold;
    color: #3a3e44;
  }
  .select-box{
    margin-top: 10px;
    margin-left: 10px;
    width: 195px;
    height: 30px;
  }
  .age-info{
    color: #2873e4;
  }
  .age-info:hover{
    text-shadow: 0px 1px 1px #000000;
  }
  .info-link{
    margin-left: 10px;
    margin-top: 15px;
    height: 30px;
    width: 200px;
    font-size: 0.9em;
  }
  .search-button{
    display: flex;
    flex-flow: row wrap;
    flex-direction: row-reverse;
    align-items: flex-end;
    width: 97%;
  }
  .button{
    width: 110px;
    background: #204a72;
    color: #d3cccc;
    margin-left:770px;
    height: 30px;
    padding: 7px 5px;
  }
  .button:hover{
    background: #0f6ea1;
    color: #ffffff;
    box-shadow: 0px 0px 1px 0.05em #2a4e85;
  }
  .img1{
    height: 206px;
    width: 400px;
  }
  .img2{
    height: 201px;
    width: 800px;
  }
  .main-content {
    align-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .grid-layout {
    display: flex;
    min-height: 250px;
    margin-top: 50px;
    flex-wrap: wrap;    
    padding: 10px;
    justify-content: center;
    background: #ffffff;
  }
  .grid-layout figure {
    flex: 0 1 20%;
    margin-top: 40px; 
  }
  .deal-search h5 {
    background-color: #252323;
    padding: 7px;
    color: #ffffff;
    }
  .deal-search{
      width: 1400px;
      margin: 0 auto;
      color: #ffffff;
      display: block; 
  }
  input[type=search]{
    width: 990px;
    height: 25px;
  }
  .deal-search input[type=button] {
    float: right;
    height: 30px;
    padding: 0;
    width: 120px;
    background: #155cb9;
  }
  .results{
    margin-left: 140px;
    font-weight: bold;
    font-size: 1.3em;
  }
  .table-layout{
    padding: 20px;
  }
  .commute {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    align-items: flex-start;
    margin: 30px 120px;
    width: 1000px;;
    margin-left: 130px;
  }
  .commute section {
    width: 180px;
    height: 45px;
    margin-left: 5px;
    display: flex;
  
  }
  .img-logo {
    flex: 1;
    max-width: 33px;
    height: 25px;
    padding: 7px 17px;
  }
  .logo {
    background-color: #52667B;
    width: 90px;
    height: 50px;
    margin-left: 10px;
  }
  .logo:hover {
    background-color: #347AAD;
  }
  .check {
    flex: 1;
    width: 30%;
    padding-top: 10px;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 20px;
  }
  .search-result{
    padding: 0 100px;
    text-align: center;
  }
  th {
    text-align: left;
    padding: 24px;
    border-bottom: 2px solid #000000;
  }
  td:nth-of-type(even) {
    color: #0000ff;
  }
  td:nth-of-type(odd) {
    color: #A2A2A2;
  }
  td {
    text-align: left;
    padding: 20px;
    border-bottom: 2px solid #000000;
  }
  .offer-banner {
    width: 800px;
    height: 180px;
    border: 1px solid #000000;
    margin: 0 auto;
    position: absolute;
    left: 550px;
  }
  .text1{
    opacity: 1;
    color: #000000;
  }
  .view-offers {
    left: 550px;
    height: 32px;
    padding: 30px;
    width: 650px;
    opacity: 0.65;
    position: relative;
    top: 110px;
    color: #ffffff;
    background-color: #6495ed;
  }
  .view-offers a {
    color: #ffffff;
    float: right;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 20px;
  }
  hr {
    padding: 0;
    margin: 0;
  }
  .search-result{
    text-align: center;
  }
  input[type=checkbox] {
    width: 10px;
    padding: 10px;
  }
  .check span{
    font-size: 0.85em;
    color: #ffffff;
  }
  .site-links {
  position: relative;
  top: 150px;
  background-color: #347AAD;
  display: flex;
  flex-wrap: wrap;
  }
  .site-links section {
    flex: 1;
    margin: 50px;
    color: #ffffff;
  }
  .site-links  section a {
    text-decoration: none;
    color: #ffffff;
  }
  .site-links section ul li{ 
  list-style-type: none;
  padding: 10px 0px;
  }
  .nav-link {
  padding: 0px 40px;
  }
  .banner span{
  color: #ffffff;
  position: relative;
  top: 50px;
  left: 570px;
  }
/*#endregion*/
/*#region IDs*/
#itinerary{
   margin-top:  10px;
   height: 30px;
   width: 130px;
 }
 #site-button:hover{
   background: #0f6ea1;
   color: #ffffff;
   box-shadow: 0px 0px 1px 0.05em #096e9c;
 }
 #site-button{
   box-shadow: 0px 0px 2px 0.1em #add8e6;
   background: #204a72;
   color: #d3cccc;
   font-weight: bold;
 }
 #off{
   color: #000000;
   font-weight: bold;
   position: relative;
   right: 400px;
   bottom: 47px;
 }
 #off:hover{
   text-shadow: 0px 0px 2px #0000ff;
 }
 /*#endregion*/
 /*#region MediaQuery */
 @media screen and (max-width: 900px) {
  .view-offers{
    display: block;
  }
  .view-offers span{
    display: block;
  }
  .view-offers a{
    display: block;
  }
  }  
  @media screen and (max-width: 500px) {
  .gridLayout {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .commute {
    flex-direction: column;
  }
}
 /*#endregion*/