body
{
    background: #f1f5f0;
}
.main
{
    Width: 70%;
    height: 700px;
    margin-top: 150px;
    margin-left: 30px;
    font-weight: bolder;
    font-size: 1.5em;
}
.top
{
    position: relative;
    top: 30px;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    border-top-left-radius: 10%;
    
}
/* .suggestion */
#dropdown
{
    position: relative;
    top: 40px;
    width: 820px;
    height: 165px;
    left: 500px;
    font-size: 1em;
    overflow-x: hidden;
}
::-webkit-input-placeholder
{
    color: black;
}
#value
{
    width: 800px;
    height: 50px;
    background: #c6cac8;
    color: #ffffff;
    font-size: 1.1em;
    border: none;
    border: solid 1px #595c5a;
    border-radius: 2px;
    outline: none;
}
#value:focus
{
    background: #a19f9f;
    box-shadow: 0px 0px 10px 0.1em #26861d;
    border: 0;
    outline: none;
}
#list
{
    position: relative;
    bottom: 5px;
    left: 10px;
    width: 720px;
    font-size: 0.8em;
    max-height: 25px;
}
#delete
{
    position: relative;
    left: 760px;
    bottom: 38px;
}
img
{
    height: 22px;
    width: 22px;
}
ul{
    max-height: 40px;
    list-style-type: none;
}
li
{
    margin-right:10px;
    height: 30px;
    max-height: 40px;
}
li:hover
{
    background: #979797ab;
}